.mainGradient {
  background-image: linear-gradient(to right, #f7cf30, #fc1634);
}

.dialogue-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-bottom-right-radius: 44px;
  border-bottom-left-radius: 44px;
  background: rgb(247, 207, 48);
  background: linear-gradient(
    94deg,
    rgba(247, 207, 48, 1) 44%,
    rgba(252, 22, 52, 1) 88%
  );
}
.logo {
  height: 70px;
  width: 70px;
}
.back-button {
  left: 10px;
  bottom: -12px;
  background-color: orangered;
  color: white;
  border: none;
}
.dialogue-title {
  background-color: #df3d15;
  padding: 8px;
  border-radius: 10px;
}
/* overriding bootstrap dialouge styles */
/* .modal {
  margin-left: 0 !important;
} */
/* .modal-dialog {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw !important;
  max-height: 100vh !important;
  margin: auto !important;
  pointer-events: none;
} */
.modal-content {
  overflow-y: auto !important;
}
.drawer-close-btn {
  width: 100% !important;
  height: 46px !important;
  background-image: linear-gradient(to right, #f7cf30, #fc1634);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
}
.quiz-container {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 95%;
  margin: 0 auto;
}
.audio-btn {
  background-color: #f7cf30;
  color: white;
}
.quiz-questions-container {
  height: 350px;
  border-top: 3px solid #fc1634;
  border-bottom: 3px solid #fc1634;
}
.keywords-container {
  border: 2px solid #ff8c1d;
}
.bg-orange-seconday {
  background-color: #fc1634;
}
.question {
  border: 2px solid #fc1634;
}
@media (min-width: 1000px) {
  .quiz-container {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 90%;
    margin: 0 auto;
  }
}
